<%= render 'dashboards/header' %>

<h1> This is developers Window  </h1>

<p id="notice"><%= notice %></p>
<h1>Projects</h1>
<a href="<%= projects_path %>" class="btn btn-sm btn-dark mdb-color darken-3 text-white"><i class="fa fa-eye fa-lg text-white"></i>All Projects</a>




